@import '@sweetalert2/theme-bootstrap-4/bootstrap-4.scss';

.app {
    display: flex;
    background-color: #ebebeb;
  
    .sidebar-wrapper {
      display: none;
      min-height: 100vh;
    }
  
    .homeContainer {
      flex: 6;
      
    }
  
    .menu-button-sidebar {
      display: block;
      margin-right: 10px;
    }
  
    @media (min-width: 768px) {
      .menu-button-sidebar {
        display: none;
      }
    }

    @media (min-width: 768px) {
      .sidebar-wrapper {
        display: block;
      }
    }
  }
  