.container-top {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 10px;
    margin: 10px 20px;


    &:hover {
        box-shadow: 2px 4px 10px 1px rgba(207, 170, 170, 0.47);
    }
}

.title-container {
    display: flex;
    justify-content: center;
    margin: 25px 0 15px 0;

    .title {
        font-weight: bold;
        color: gray;
    }
}

.container-buttom {
    .card-indicator {
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        border-radius: 10px;
        padding: 10px;
        border: none;
        margin: 5px 5px;

        &:hover {
            box-shadow: 2px 4px 10px 1px rgba(207, 170, 170, 0.47);
        }
    }
}