.list-container-product-screen {
    padding: 20px;
    border-radius: 10px;
    margin: 0 10px 0 10px;
    background-color: #ffffff;
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);

    &:hover {
        box-shadow: 2px 4px 10px 1px rgba(207, 170, 170, 0.47);
    }

    .status {
        padding: 5px;
        border-radius: 5px;

        &.Disponible {
            color: green;
            background-color: rgba(0, 128, 0, 0.151);
        }

        &.Agotado {
            color: #ffffff;
            background-color: crimson;
        }
    }

    .viewButton {
        background-color: lightblue;
        color: #ffffff;
    }

    .deleteButton {
        background-color: crimson;
        color: #ffffff;
    }
}