.slider-container {
    object-fit: contain;
    width: 100%;
    background-color: #ffffff;
    height: 300px;
    border-radius: 8px;

    .slider-img {
        width: 300px;
        margin-left: 120px;
    }

    .info {
        font-weight: bold;

        h2 {
            font-size: 32px;
        }
    }
}